export(
    ISapriori.1D,
    ISapriori.2D,
    ISapriori.3D,
    ISapriori.1D.general,
    ISapriori.2D.general,
    ISapriori.3D.general,
    ISapriori.guisdap,
    ISdirectTheory,
    ISdirectTheory.general,
    ISdirectTheory.guisdap,
    ISparamLimits,
    ISparamLimits.general,
    ISparamList2Vec,
    ISparamList2Vec.general,
    ISparamScales,
    ISparamScales.general,
    ISparamVec2List,
    ISparamVec2List.general,
    ISparamfit,
    ISparamfit.guisdap,
    frequencyAmbiguity,
    scaleParams,
    simuACF,
    testfit,
    ISmeas.simu,
    calibrate.eiscat.dynasonde,
    ISparamfit,
    testfit.guisdap
    )

useDynLib(ISfit)
