export(
    ISapriori,
    ISapriori.general,
    ISapriori.guisdap,
    ISdirectTheory,
    ISdirectTheory.general,
    ISdirectTheory.guisdap,
    ISparamLimits,
    ISparamLimits.general,
    ISparamList2Vec,
    ISparamList2Vec.general,
    ISparamScales,
    ISparamScales.general,
    ISparamVec2List,
    ISparamVec2List.general,
    ISparamfit,
    ISparamfit.guisdap,
    frequencyAmbiguity,
    scaleParams,
    simuACF,
    testfit,
    testfit.guisdap,
    testfit.beata,
    ISmeas.simu,
    calibrate.eiscat.dynasonde,
    ISparamfit,
    ISfit,
    ISfit.3D,
    faradayRotation.KAIRA,
    faradayDirectTheory
    )

useDynLib(ISfit)
