export(
  ISapriori.default.1D,
  ISapriori.default.3D,
  ISapriori.default.guisdap,
  ISaprioricovar.default.1D,
  ISdirectTheory,
  ISdirectTheory.guisdap,
  ISparamLimits.default,
  ISparamList2Vec,
  ISparamScales.default,
  ISparamVec2List,
  ISparamfit,
  ISparamfit.guisdap,
  frequencyAmbiguity,
  scaleParams,
  simuACF,
  testchisqr.guisdap,
  testfit.1D,
  testfit.3D,
  testfit.guisdap,
  ISmeas.simu,
  ISfit.1D.guisdap
  )

useDynLib(ISfit)
